:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.65rem;
}

body {
    font-family: var(--primary-font-family);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 40px 0;
    background-color: #f5f5f5;
}

.logo {
    display: inline-block;
}

.logo:hover {
    text-decoration: none;
}

.logo__text {
    color: var(--secondary-font-color);
    cursor: pointer;
    font-weight: 500;
}

.logo__text:hover {
    text-decoration: none;
}

.logo__img {
    height: 150px;
    width: 150px;
}

.form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form__group {
    position: relative;
}

.form__group > input,
.form__group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: 45px;
}

.form__group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form__group input::placeholder {
    color: transparent;
}

.form__group input:not(:placeholder-shown) {
    padding: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form__group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777777;
}

.error {
    color: #ff0000;
}
