@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root {
    --bg-color: #f5f5f5;
    --secondary-font-color: #666666;
    --primary-font-family: Poppins, sans-serif;
}

body {
    background-color: var(--bg-color) !important;
}
