body {
    font-family: var(--primary-font-family);
    background: var(--bg-color);
}

.success {
    color: #4bb543;
}

.error{
    display:block;
    float:right;
    position:relative;
    top: -33px;right: 24px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #343a40;
    color: #fff;
    transition: all 0.5s;
    position: sticky;
    top: 0;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #424950;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    background: #424950;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #393f45;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #31363b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarCollapse {
    background: #424950;
    margin: 10px;
}

.card {
    cursor: pointer;
}

.card-title {
    color: #98a6ad;
    font-size: 16px;
    font-weight: 300;
}

.card-text {
    color: #6c757d;
    font-size: 24px;
    font-weight: 500;
}

.card-body {
    position: relative;
}

.card-icon {
    font-size: 20px;
    color: #98a6ad;
    border-radius: 2px;
    position: absolute;
    top: 23px;
    right: 20px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
#details
{
    visibility: hidden;
}
#orders
{
    visibility: hidden;
    margin-top: 50px;

}
